.personal-team {
  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    grid-row-gap: 17px;
  }


  &__header {
    margin: 0;
    font-size: 48px;
    line-height: 44px;
    background: linear-gradient(180deg, #4614E8 20%, #BCA7FF 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &-size {
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
    }
  }

  &__item {
    border-radius: 10px;
    background: linear-gradient(236deg, #FFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
  }

  &__item:nth-child(3n + 1) {
    padding: var(--offset);
    width: 207px;
    min-height: 156px;
  }

  &__item:nth-child(3n + 2), &__item:nth-child(3n + 3) {
    padding: 24px;
    width: 179px;
    min-height: 135px;
  }

  &__item:nth-child(2) {
    margin-top: 21px;
  }

  &__item:nth-child(2)::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -20%;
    right: -20%;
    width: 159px;
    height: 159px;
    background: url(../../img/svg/ellipse.svg) top center no-repeat;
    background-size: cover;
  }

  &__item:nth-child(3) {
    justify-self: end;
    margin-bottom: 36px;
  }

  &__item:nth-child(3)::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 40%;
    left: -5%;
    width: 39px;
    height: 39px;
    background: url(../../img/svg/ellipse.svg) left center no-repeat;
    background-size: cover;
  }

  &__item:nth-child(4) {
    min-width: 171px;
    .personal-team__header {
      font-size: 16px;
    }
  }

  &__item:nth-child(4)::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -20%;
    right: -20%;
    width: 25px;
    height: 25px;
    background: url(../../img/svg/ellipse.svg) top center no-repeat;
    background-size: cover;
  }


  &__text {
    font-size: var(--second-size);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
