.rates {
  &__title {
  text-align: center;
  margin-bottom: 20px;
  }
  &__descr {
    text-align: center;
    margin-bottom: 40px;
  }
}

.rates-cards {
  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.rates-card {
  width: 32%;
  background-color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  transition: border-color .2s cubic-bezier(.215, .61, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 -23px 95px rgba(208, 218, 227, 0.57);

  &__wrapper {
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-height: 241px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    color: var(--black-color);
    font-size: var(--four-size);
  }

  &__descr {
    text-align: center;
    margin-bottom: 30px;
  }

  &__price {
    letter-spacing: .02ch;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: var(--black-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 115%;
    text-decoration: none;

    &-month {
      font-size: var(--main-size);
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    border-top: 1px solid var(--purple-heart-light);
  }

  &__item {
    margin: 0;

    list-style-type: disc;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__item::marker {
    color: var(--purple-heart-light);
  }

  &__btn {
    margin-top: auto;
  }
}
