<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__title title-default">Преимущества сервиса</h2>
    <div class="advantages__container grid">
      <div class="advantages__mobile">
        <img src="../img/advantages/mobile.png" alt="mobile">
      </div>
      <div class="advantages__content">
        <h3 class="advantages__header">Bot</h3>
        <p class="advantages__descr desc-primary">
          Bot - это универсальная платформа, которая помогает вам продавать в WhatsApp, Instagram, Facebook, Telegram и Viber. Она идеально подходит для маркетологов и владельцев цифровых продуктов.
        </p>
      </div>
      <ul class="advantages__list list-reset">
        <li class="advantages__item">
          <p class="advantages__item-text">работает 24/7</p>
        </li>
        <li class="advantages__item">
          <p class="advantages__item-text">100% точность и корректность ответов</p>
        </li>
        <li class="advantages__item">
          <p class="advantages__item-text">при необходимости, подключает живого специалиста</p>
        </li>
        <li class="advantages__item">
          <p class="advantages__item-text">не берет больничный и никогда не уволится </p>
        </li>
      </ul>
  </div>
  <ul class="advantages__add-list list-reset grid">
    <li class="advantages__add-item">
      <svg class="advantages__phone">
        <use xlink:href="img/sprite.svg#phone2"></use>
      </svg>
      <h3 class="advantages__header-item">Удобный формат</h3>
      <p class="advantages__descr-item desc-primary">
        Конструктор с ограниченным количеством документов на базе телеграм-бота
      </p>
    </li>
    <li class="advantages__add-item">
      <svg class="advantages__phone">
        <use xlink:href="img/sprite.svg#phone2"></use>
      </svg>
      <h3 class="advantages__header-item">Удобный формат</h3>
      <p class="advantages__descr-item desc-primary">
        Конструктор с ограниченным количеством документов на базе телеграм-бота
      </p>
    </li>
    <li class="advantages__add-item">
      <svg class="advantages__phone">
        <use xlink:href="img/sprite.svg#phone2"></use>
      </svg>
      <h3 class="advantages__header-item">Удобный формат</h3>
      <p class="advantages__descr-item desc-primary">
        Конструктор с ограниченным количеством документов на базе телеграм-бота
      </p>
    </li>
    <li class="advantages__add-item">
      <svg class="advantages__phone">
        <use xlink:href="img/sprite.svg#phone2"></use>
      </svg>
      <h3 class="advantages__header-item">Удобный формат</h3>
      <p class="advantages__descr-item desc-primary">
        Конструктор с ограниченным количеством документов на базе телеграм-бота
      </p>
    </li>
  </ul>
  </div>
</section>
