<section class="call-action section-offset">
  <div class="container">
    <div class="call-action__container">
      <div class="call-action__content">
        <svg class="call-action__image">
          <use xlink:href="img/sprite.svg#free"></use>
        </svg>
        <h2 class="call-action__title title-default">Попробуйте бесплатно</h2>
        <p class="call-action__desc desc-offset">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quia accusantium dolorum corporis. Incidunt</p>
        <button class="call-action__btn btn-primary btn-reset btn-modal" data-path="registration">Начать беплатно</button>
      </div>
    </div>
  </div>
</section>
