<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__top">
        <a href="#" class="logo footer__logo">
          <img src="../img/logo.png" alt="Логотип">
        </a>
        <ul class="footer__list list-reset sotial">
          <li class="sotial__item">
            <a href="#" class="sotial__link">
              <svg class="sotial__link-image">
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="sotial__item">
            <a href="#" class="sotial__link">
              <svg class="sotial__link-image">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="sotial__item">
            <a href="#" class="sotial__link">
              <svg class="sotial__link-image">
                <use xlink:href="img/sprite.svg#vkontakte"></use>
              </svg>
            </a>
          </li>
          <li class="sotial__item">
            <a href="#" class="sotial__link">
              <svg class="sotial__link-image">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="footer__bottom">
      <div class="footer__copy">
        <p class="footer__copy-text desc-primary">©2023 «lorem» | Разработано: me</p>
      </div>
      <div class="footer__agree">
        <a href="#" class="footer__agree-link">Политика конфиденциальности</a>
        <a href="#" class="footer__agree-link">Пользовательское соглашение</a>
      </div>
    </div>
  </div>
</footer>
