<header class="header">
  <div class="container">
    <div class="header-top flex">
      <div class="header-top__wrapper">
        <a href="#" class="logo">
          <img class="header-logo" src="img/logo.png" alt="утка логотип">
        </a>
        <p class="header-top__text">Первый цифровой международный юридический центр</p>
      </div>
      <a href="#" class="header-top__number">8 (800) 511-37-68</a>
      <a href="#" class="header-top__btn  btn-primary btn-reset">Войти</a>
    </div>
      <nav class="nav header__nav" title="Main navigation">
        <ul class="list-reset list-reset nav__list flex">
          <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Sirius</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Тарифы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">FAQ</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
  </div>
</header>
