<section class="hero section-offset" id="hero">
  <div class="container">
    <div class="hero__container grid">
      <div class="hero__content">
        <h1 class="hero__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, consequuntur beatae quia cumque 24/7</h1>
        <p class="hero__descr desc-primary">ВLorem ipsum dolor sit amet consectetur, adipisicing elit. Quae magni eaque aliquam doloremque? Reiciendis, minus quod.
          </p>
          <a href="#" class="hero__btn btn-primary btn-reset">Попробовать бесплатно</a>
      </div>
      <img class="hero__image" src="../img/hero/creative_process.png" alt="">
      <div class="hero__group">
        <ul class="hero__list list-reset flex">
          <li class="hero__item hero__item--image-1">
            <p class="hero__item-descr desc-primary">Личная поддержка 24/7</p>
          </li>
          <li class="hero__item hero__item--image-2">
            <p class="hero__item-descr desc-primary">Множество возможностей в одном полисе</p>
          </li>
          <li class="hero__item hero__item--image-3">
            <p class="hero__item-descr desc-primary">Бонусы партнерской программы</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
