<section class="personal-team section-offset" id="personal-team">
  <div class="container">
    <div class="personal-team__container flex">
      <div class="personal-team__content">
        <a href="#" class="personal-team__logo">
          <img class="header-logo" src="img/logo.png" alt="duck logo">
        </a>
        <h2 class="personal-team__title">Ваша личная online команда юристов</h2>
        <p class="personal-team__descr desc-primary">Ваша личная команда профессиональных юристов, которая всегда под рукой. А также доступ к бонусам партнерской программы — доход
          до $260 с каждого полиса, купленного по вашему приглашению.
          </p>
      </div>
      <ul class="personal-team__list list-reset">
        <li class="personal-team__item"><h4 class="personal-team__header">100+<span class="personal-team__header-size">тыс</span></h4>
          <p class="personal-team__text desc-primary">Клиентов по всему миру</p>
        </li>
        <li class="personal-team__item"><h4 class="personal-team__header">15 <span class="personal-team__header-size">лет</span></h4>
          <p class="personal-team__text desc-primary">Клиентов по всему миру</p>
        </li>
        <li class="personal-team__item"><h4 class="personal-team__header">50+</h4>
          <p class="personal-team__text desc-primary">Клиентов по всему миру</p>
        </li>
        <li class="personal-team__item"><h4 class="personal-team__header">sirius</h4>
          <p class="personal-team__text desc-primary">Система на базе искусственного интеллекта</p>
        </li>
      </ul>
    </div>
    <div class="personal-team__support support">
      <h3 class="support__title">Даём поддержку</h3>

      <ul class="support__list list-reset flex">
        <li class="support__item support__item--1">
          <h4 class="support__header">Бизнесу</h4>
          <p class="support__descr desc-primary">Услуги профессионалов для вашей компании по фиксированному тарифу — это в несколько раз выгоднее, чем содержать свой штат.
          </p>
        </li>
        <li class="support__item support__item--2">
          <h4 class="support__header">Бизнесу</h4>
          <p class="support__descr desc-primary">Услуги профессионалов юристов для вашей компании по фиксированному тарифу — это в несколько раз выгоднее, чем содержать свой штат.
          </p>
        </li>
        <li class="support__item support__item--3">
          <h4 class="support__header">Бизнесу</h4>
          <p class="support__descr desc-primary">Услуги профессионалов юристов для вашей компании по фиксированному тарифу — это в несколько раз выгоднее, чем содержать свой штат.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
