<section class="rates section-offset" id="rates">
  <div class="container">
    <div class="rates__container">
      <h2 class="rates__title title-default">Тарифы</h2>
      <p class="rates__descr desc-primary">
        Вы начинаете бесплатно и оплачиваете по мере продвижения по честным ценам, которые меняются по мере вашего роста. Счета за оба аккаунта HELP выставляются в зависимости от количества активных подписчиков. Инструменты, сообщения и агенты не ограничены.
      </p>
      <div class="rates-cards">
        <div class="rates-cards__container">
          <div class="rates-card">
            <div class="rates-card__wrapper-content">
              <h3 class="rates-card__title">Бесплатно</h3>
              <p class="rates-card__descr desc-primary">Бесплатная 14-дневная пробная версия с доступом ко всем функциям</p>
              <span class="rates-card__price">$0</span>
            </div>
            <ul class="rates-card__list list-reset">
              <li class="rates-card__item">
                До 3000 подписчиков
              </li>
              <li class="rates-card__item">
                До 10 агентов
              </li>
              <li class="rates-card__item">
                Неограниченные потоки, чат-боты и инструменты роста
              </li>
              <li class="rates-card__item">
                Включены все основные функции
              </li>
              <li class="rates-card__item">
                FB Messenger, Telegram, Viber
              </li>
            </ul>
            <a href="#" class="rates-card__btn btn-primary btn-reset">Запустить пробную версию</a>
          </div>
          <div class="rates-card">
            <div class="rates-card__wrapper-content">
              <h3 class="rates-card__title">Профессиональный</h3>
              <p class="rates-card__descr desc-primary">Стоимость начинается от 10 долларов в месяц и масштабируется в зависимости от количества подписчиков</p>
              <span class="rates-card__price">От $ 14 / <span class="rates-card__price-month">месяц</span></span>
            </div>
            <ul class="rates-card__list list-reset">
              <li class="rates-card__item">
                До 300 000 подписчиков
              </li>
              <li class="rates-card__item">
                Неограниченное количество агентов
              </li>
              <li class="rates-card__item">
                Неограниченные потоки, чат-боты и инструменты роста
              </li>
              <li class="rates-card__item">
                WhatsApp Business API, Instagram, FB Messenger, Telegram, Viber
              </li>
              <li class="rates-card__item">
                API и интеграции
              </li>
            </ul>
            <a href="#" class="rates-card__btn btn-primary btn-reset">Запустить пробную версию</a>
          </div>
          <div class="rates-card">
            <div class="rates-card__wrapper-content">
              <h3 class="rates-card__title">Бизнес</h3>
              <p class="rates-card__descr desc-primary">Получите доступ ко всем функциям Pro и пользовательских сервисов</p>
              <span class="rates-card__price">Связаться с нами</span>
            </div>
            <ul class="rates-card__list list-reset">
              <li class="rates-card__item">
                Неограниченное количество подписчиков
              </li>
              <li class="rates-card__item">
                Неограниченное количество агентов
              </li>
              <li class="rates-card__item">
                Неограниченные потоки, чат-боты и инструменты роста
              </li>
              <li class="rates-card__item">
                Включены все основные функции
              </li>
              <li class="rates-card__item">
                WhatsApp Business API, Instagram, FB Messenger, Telegram, Viber
              </li>
              <li class="rates-card__item">
                API и интеграции
              </li>
              <li class="rates-card__item">
                Служба поддержки клиентов и специальный менеджер по работе с аккаунтами
              </li>
            </ul>
            <a href="#" class="rates-card__btn btn-primary btn-reset">Запустить пробную версию</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
