<section class="reviews section-offset">
  <div class="container">
    <div class="reviews__container">
      <h2 class="reviews__title title-default">
        Более 5000 компаний в более чем 70 странах пользуются доверием
      </h2>
        <div class="swiper reviews__swiper">
          <ul class="swiper-wrapper reviews__swiper-wrapper  list-reset">
            <li class="reviews__slide swiper-slide">
              <div class="reviews__slide-wrapper">
                <div class="reviews__person">
                  <picture class="reviews__person-photo">
                    <img class="reviews__person-img" src="../img/reviews/person.webp" alt="рецензент">
                  </picture>
                  <h3 class="reviews__name title-default">Татьяна Осликова</h3>
                  <p class="reviews__work desc-offset">менеджер</p>
                </div>
                <p class="reviews__answer desc-offset">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum modi ad deserunt repudiandae illo cum tenetur officia.</p>
              </div>
            </li>
            <li class="reviews__slide swiper-slide">
              <div class="reviews__slide-wrapper">
                <div class="reviews__person">
                  <picture class="reviews__person-photo">
                    <img class="reviews__person-img" src="../img/reviews/person.webp" alt="рецензент">
                  </picture>
                  <h3 class="reviews__name title-default">Татьяна Осликова</h3>
                  <p class="reviews__work desc-offset">менеджер</p>
                </div>
                <p class="reviews__answer desc-offset">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum modi ad deserunt repudiandae illo cum tenetur officia.</p>
              </div>
            </li>
            <li class="reviews__slide swiper-slide">
              <div class="reviews__slide-wrapper">
                <div class="reviews__person">
                  <picture class="reviews__person-photo">
                    <img class="reviews__person-img" src="../img/reviews/person.webp" alt="рецензент">
                  </picture>
                  <h3 class="reviews__name title-default">Татьяна Осликова</h3>
                  <p class="reviews__work desc-offset">менеджер</p>
                </div>
                <p class="reviews__answer desc-offset">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum modi ad deserunt repudiandae illo cum tenetur officia.</p>
              </div>
            </li>
            <li class="reviews__slide swiper-slide">
              <div class="reviews__slide-wrapper">
                <div class="reviews__person">
                  <picture class="reviews__person-photo">
                    <img class="reviews__person-img" src="../img/reviews/person.jpg" alt="рецензент">
                  </picture>
                  <h3 class="reviews__name title-default">Татьяна Осликова</h3>
                  <p class="reviews__work desc-offset">менеджер</p>
                </div>
                <p class="reviews__answer desc-offset">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum modi ad deserunt repudiandae illo cum tenetur officia.</p>
              </div>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
      </div>
      <div class="reviews__buttons">
        <button class="reviews__button reviews__button--left swiper-button-prev btn-reset">
          <svg class="reviews__button-image">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
        <button class="reviews__button reviews__button--right swiper-button-next btn-reset">
          <svg class="reviews__button-image">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
